<div class="jumbotron">
<h1>Money Mind</h1>
<h3>Track your expenses</h3>
<div>
  <%= link_to 'Sign Up', new_user_registration_path, class: "shared" %> | <%= link_to 'Sign In', new_user_session_path, class: "shared"  %>
  </div>
</div>